.next
  This is how it works:
  %br/
  %br/
  %ol
    %li You show up with a laptop and a project to work on
    %li You hack on your project until late into the night
    %li You demo what you've worked on.
  Your project can either be something completely new for the hackathon, or it can be something you've already started.
  %br/
  %br/
  Rules:
  %br/
  %ol
    %li You must tweet about #sehackday.
    %li You MUST tweet about #sehackday.
    %li If we haven't seen your hack, you must demo.
    %li You have a maximum of 5 minutes for demo and Q&A.
    %li If you're in the demo area STFU or GTFO (of demo area).
