.instructions
  .smaller
    To add your hack to the list, just tweet
    with the hashtag
  %br/
  %strong #sehackday
  %br/
  %br/
  .smaller
    and put the tag
  %br/
  %strong{:title => "(or #demo, or #project, or #is)"} #hack
  %br/
  %br/
  .smaller
    %strong before
    your project's name.
  .smaller.still
    (If something goes wrong, just tweet at
    = link_to "@psobot", "http://twitter.com/psobot", :target => :blank
    to get your submission fixed.)
  .tweet
   
